@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Vygovskogo str.<br />
    Lviv, WU 79022<br />
    <abbr title="Phone">P:</abbr>
    0639181866
</address>

<address>
    <strong>Contact Me:</strong> <a href="mailto:chornyi.yurii@gmail.com">chornyi.yurii@gmail.com</a>
</address>
